bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.Slova.Dictionary/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.Slova.Dictionary/.idea/contentModel.xml
/.idea/.idea.Slova.Dictionary/.idea/encodings.xml
/.idea/.idea.Slova.Dictionary/.idea/indexLayout.xml
/.idea/.idea.Slova.Dictionary/.idea/modules.xml
/.idea/.idea.Slova.Dictionary/.idea/projectSettingsUpdater.xml
/.idea/.idea.Slova.Dictionary/.idea/workspace.xml
/.idea/.idea.Slova.Dictionary/.idea/vcs.xml
